{% extends 'anime/base.html' %}

{% block content %}
<div class="container-fluid firstback" style="background-image: url( '../static/images/wp5121792.jpg') ; width:100%; background-repeat: no-repeat; height:400px; background-size: cover;">


  <div class="container">

    <div class="row">


      <div class="col" style="height: 80px;">
      </div>


    </div>

    <div class="row">


      <div class="col-6" style="height: 115px;">
      </div>
      <div class="col-6">
        <p class="h1 text-white">
          Just chill With&nbsp;<br>pirate anime myanmar
        </p>
      </div>


    </div>

    <div class="row">


      <div class="col" style="height: 100px;">
      </div>


    </div>

    <div class="row">

      <div class="col" style="height: 50px;">
        <button type="button" class="btn btn-outline-danger btn-lg w-100 rounded-5">SignUp</button>
      </div>
      <div class="col" style="height: 50px;">
        <button type="button" class="btn btn-outline-danger btn-lg w-100 rounded-5">Login</button>
      </div>
      <div class="col" style="height: 50px;">
      </div>
      <div class="col" style="height: 50px;">
      </div>
      <div class="col" style="height: 50px;">
      </div>


    </div>
      
  </div>

</div>

<div class="container-fluid bg-dark">

  <div class="row">


    <div class="col" style="height: 40px;">
    </div>


  </div>

  <div class="row p-2">


    <div class="col-1" style="height: 350px;">
    </div>
    <div class="col-9" style="height: 350px;">
      <h3 class="text-light">WELCOME TO</h3>
      <h2 class="text-light">PirateAnime Myanmar</h2>
      <hr class="" style="border: 2px solid rgba(255, 0, 0, 1); width: 100px;">
      <p class="text-light h3">
        We are going to entertain for you. I hope that you can relax and chill on our translations.
       We have decided to make paid to stand up fees of our members.
       I think you can also feel this.
       Thank for your attention.
      </p>
    </div>
    <div class="col-1" style="height: 350px;">
    </div>
    <div class="col-1" style="height: 350px;">
    </div>


  </div>

</div>

  <div class="container-fluid">
    
    <div class="row">
      <div class="col bg-danger" style="height: 300px;">
      </div>
    </div>

    <div class="row">
      <div class="col bg-dark" style="height: 700px;">
      </div>
    </div>

    <div class="row">
      <div class="col bg-danger" style="height: 700px;">
      </div>
    </div>

  </div>

</div>


{% endblock %}